@charset "utf-8";
/* CSS Document */

body
{
	margin: 0;
	padding: 0;
}
#container
{
	width: 100%;
	height: 3000px;
	background-color:black;
}
.header
{
	width: 100%;
	height: 800px;
	background:url("../images/in.jpg");
	background-size: cover;
}

.banner
{
	width: 100%;
	height: 100px;
	
	padding: 0 100px;
	box-sizing: border-box;
}

.logo
{
	width: 20%;
	height: 100px;
	
	float: left;
}

.menu
{
	width: 80%;
	height: 100px;
	
	float:right;
	
}


.menu ul
{
	list-style: none;
}

.menu ul li
{
	float:left;
	padding: 30px  50px;
}

.menu ul li a
{
	text-decoration: none;
	color: beige;
	
}


.menu ul li:hover
{
	background-color:burlywood;
}

.slider
{
	width: 100%;
	height: 700px;
	color:darkred;
	box-sizing: border-box;
	padding: 200px 100px 100px 100px;
	font-family: fontdep;
	font-size: 30px;
}


button
{
	padding: 15px 40px;
	background: #411314;
	color: #FDF7F7;
	border-radius: 50px;
	font-size: 15px;
	
	animation: headerAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	
}

@font-face
{   font-family: fontdep;
	src: url("../font/Lobster-Regular.ttf")
}
.noidung
{
	
	width: 90%;
	height: 100px;
	color:white;
	box-sizing: border-box;
	padding: 100px 100px 100px 100px;
	font-family: fontdep;
	font-size: 25px;

}

.noidung2
{
	
	width: 90%;
	height: 100px;
	color:white;
	box-sizing:border-box;
	padding: 50px 50px 200px 900px;
	font-size: 25px;

}



.data
{
	width: 100%;
	height: 300px;
	
}
.data-nd
{
	width: 40%;
	height: 500px;
	background:url("../images/images4.PNG");
	float: left;
	margin: -12% 2% 3%;
	background-size: cover;
		
}

.data-nd2
{
	width: 40%;
	height: 500px;
	background:url("../images/images5.PNG");
	float:right;
	margin: 5% 2% 3%;
	background-size: cover;
		
}
.noidung3
{
	
	width: 90%;
	height: 100px;
	color:white;
	box-sizing:border-box;
	padding: 50px 100px 200px 50px;
	font-size: 25px;
	
}

.noidung4
{
	
	width: 90%;
	height: 100px;
	color:white;
	box-sizing: border-box;
	padding: 400px 50px 250px 100px;
	font-family: fontdep;
	font-size: 25px;
}


.data1
{
	width: 100%;
	height: 500px;
	
}

.data1-nd
{
	width: 30%;
	height: 300px;
	background-color: cornsilk;
	float: left;
	margin: 0 1% 0 2%;
	
}
.end
{
	width: 100%;
	height: 100px;
	background-color: #47340B;
	color: #FFFFFF;
	margin: 10 30% 20 10%;
	
}